.room-view {
  max-width: 315px;
  max-height: 340px;
  padding: 20px;
  justify-content: center;
}

.room-image {
  width: 270px;
  height: 200px;
  border-radius: 3px;
}

.room-details {
  padding: 8px;
}

.badge-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.badge {
  display: flex;
  font-size: 11px;
  font-weight: 600;
  color: #f6f6fd;
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: 15px;
  background-color: #4039e3;
  justify-content: center;
  align-items: center;
}

.badge-text {
  font-size: 14px;
  margin-left: 8px;
}

.details-container {
  max-width: 254px;
  margin-top: 10px;
}

.rm-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.rm-cost {
  font-size: 14px;
  color: #8d959f;
}
